<div style="background: linear-gradient(-90deg, #22202C, #402845); color: white">
  <div style="padding: 30px">
    <strong>Olá, {{ owner }}</strong><br/>
    <p style="margin: 0">Seu evento {{ meetup }} recebeu uma inscrição do usuário {{ user }}.</p>
  </div>
</div>
